
<select>
  <option *ngFor="let i of items" value={{i.value}}>
    {{i.text}}
  </option>
</select>

<table>
  <tr *ngFor="let i of service.list">
      <td>
        {{i.fromHostName}}
      </td>
      <td>
        {{i.fromIP}}
      </td>
      <td>
        {{i.fromNumber}}
      </td>
      <td>
        {{i.ports}}
      </td>
      <td>
        {{i.status}}
      </td>
      <td>
        {{i.toHostName}}
      </td>
      <td>
        {{i.toIP}}
      </td>
      <td>
        {{i.use}}
      </td>
  </tr>
</table>

<router-outlet></router-outlet>