<link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css">
<select (change)="onChange($event)">
  <option *ngFor="let i of items" value={{i.value}}>
    {{i.text}}
  </option>
</select>


<table class="table">
  <thead>
  <tr>
    <th scope="col">From-HostName</th>
    <th scope="col">From-IP</th>
    <th scope="col">To-HostName</th>
    <th scope="col">To-IP</th>
    <th scope="col">Port(s)</th>
    <th scope="col">用途</th>
    <th scope="col">狀態</th>
    <th scope="col">電子需求單</th>
  </tr>
</thead>  
<tbody>
  <tr *ngFor="let i of service.list">
      <td>
        {{i.fromHostName}}
      </td>
      
      <td>
        {{i.fromIP}}
      </td>
      <td>
        {{i.fromNumber}}
      </td>
      <td>
        {{i.ports}}
      </td>
      <td>
        {{i.status}}
      </td>
      <td>
        {{i.toHostName}}
      </td>
      <td>
        {{i.toIP}}
      </td>
      <td>
        {{i.use}}
      </td>
  </tr>
</tbody>
</table>

<router-outlet></router-outlet>